body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(12, 12, 12);
    overflow-x: hidden;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.chat_box_area{
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999999 !important;
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #014883; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #014883; 
  }



    .chat_btn{
        background-color: rgb(0, 162, 255);
        color: #fff;
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        outline: none;
        transition: all 0.5s;
        &:active{
            transform: scale(0.5);
        }
    }
    .chat_box{
        width: 300px;
        height: 400px;
        background-color: #014883;
        border-radius: 10px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform-origin: right bottom;
        transform: scale(1);
        transition: all 0.5s;
        padding: 20px;
        border: 1px solid #ffffff17;
        overflow: hidden;
        // chat headign area
        .chat_heading_aera{
            width: 100%;
            height: 15%;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            .chat_headign_left_box{
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 10px;
                height: 100%;
                .chat_user_logo{
                    img{
                        width: 60px;
                    }
                }
                .chat_user_info_area{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 5px;
                    .title{
                        font-size: 22px;
                        font-weight: 600;
                    }
                    .subtitle{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            .chat_headign_right_box{
                .button_box{
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: center;
                    gap: 5px;
                    button{
                        width: 30px;
                        height: 30px;
                        font-size: 20px;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        color: #fff;
                    }
                }
            }
        }
    }
    .chat_box_active{
        transform: scale(1);
        bottom: 55px;
    }
    .chat_content_box{
        width: 100%;
        height: 77%;
        background-color: #fff;
        position: absolute;
        left: 0px;
        bottom: 0px;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 10px;
        .chat-container {
            background-color: #ffffff;
            border-radius: 5px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            .chat-messages {
                padding: 10px;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                .chat-bubble {
                    background-color: #fff;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 5px 10px;
                    margin-bottom: 10px;
                    max-width: 80%;
                }
                .user-bubble {
                    float: right;
                    background-color: #014883;
                    color: #fff;
                    margin-right: 13px;
                    text-align: right;
                }
                .auto-reply-bubble {
                    float: left;
                }
            }
            #chat-form{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 35px;
                overflow: hidden;
                border-radius: 4px;
                width: 93%;
                margin: auto;
                background-color: #f1f1f1;
                margin-bottom: 10px;
                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 0px 10px;
                    height: 100%;
                    background-color: transparent;
                    font-size: 14px;
                    letter-spacing: 1px;
                }
                button{
                    height: 100%;
                    background-color: #014883;
                    border: none;
                    outline: none;
                    width: 50px;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
}

  
  
  
  
  
  
  